h1,h2,h3,h4,h5,h6{
  text-align: center;
  text-transform: uppercase;
  font-family: Raleway;
}

.container{
  
  margin-top: 4%;
  margin-bottom: auto;
  

  .row{
    border: 1px solid #888888;
    box-shadow: 10px 10px 5px #888888;

    .col.s3.beer{
      background-position: center;background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../images/sanfrancisco.jpg");
    }

    .col.s3.wine{
      background-position: center;background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../images/city.jpg");
    }

    .col.s3.reviews{
      background-size: auto 100%;
      background-position: center;
      background-position: center;background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../images/reviews.jpg");
    }

    .col.s3.contact{
      background-size: auto 100%;
      background-position: center;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../images/contact.jpg");
    }

    .col.s3{
      
      height: 800px;

      #content{

        p{
          line-height: 25px;
          font-family: Raleway
        }

        h5{
          margin-top: 40%;
          color: white;
        }

        hr{
          width: 10%;
          color: gold;
        }

        h6{
          margin-top: 20%;
          margin-bottom: -10%;
          color: white;
          font-size: 10px;
        }

        #title{
          text-align: center;
          font-size: 40px;
          color: white;
          font-weight: 5;
        }

        #author_pic{
          width: 20%;
          height: 20%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 90%;
          border-radius: 50%;
          
        }

        #author{
          text-align: center;
          color: white;
        }
      }
    }
  }
}